.landing-page {
  .big-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0 10px 0;
  }

  .picture-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: calc(#{$content-width} + 36px);
    max-width: calc(#{$max-width} + 36px);

    img {
      object-fit: cover;
      height: auto;
      width: 140px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 190px;
      margin-left: 14px;

      img {
        height: 16px;
        padding-right: 5px;
      }

      h1 {
        margin: 2px 0;
      }

      a {
        display: flex;
        align-items: center;

        img.donate {
          height: 14px;
          width: auto;
          transition: transform 0.25s ease;
        }

        img.link-arrow {
          margin-left: 6px;
          height: 12px;
          width: auto;
        }
      }

      a:hover {
        img.donate {
          transform: scale(1.1);
        }
      }
    }
  }

  .quote {
    display: flex;
    margin-top: 20px;
    max-width: 300px;

    .photo {
      img {
        object-fit: cover;
        height: 163px;
        width: 150px;
        vertical-align: bottom;
      }
    }

    .text {
      margin: auto;
      padding-right: 10px;
      text-align: right;
      h1 {
        font-size: 18px;
      }
    }
  }

  .press-entry-landing {
    display: flex;
    margin: 10px 0 10px 0;
    height: 150px;
    width: calc(#{$content-width} + 36px);
    max-width: calc(#{$max-width} + 36px);
  }

  .press-entry-landing#first-child {
    margin-top: 20px;
  }
}
