.title-logo {
  display: flex;
  width: 250px;
  margin: 30px 0 30px 0;

  .logo {
    margin: 0 auto;
  
    img {
      height: auto;
      width: 80px;
      vertical-align: middle;
    }
  }
  .cmc-title {
    padding-left: 10px;
  }
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: calc(#{$content-width} + 36px);
  max-width: calc(#{$max-width} + 36px);              
  background-color: $dark-blue;
  height: 1px;
}

.mission {
  display: flex;
  margin-top: 10px;
  max-width: 300px;
  img {
    width: 125px;
    margin-right: 5px;
  }

  .text {
    margin: auto;
    img {
      width: 16px;
    }

    p {
      margin-right: 5px;
    }

    .mission-donate {
      display: flex;
      transition: all 0.25s ease;
    }

    .mission-donate:hover {
      p {
        padding: 0 10px 0 10px;
      }
    }
  }
}

.landing-heading {
  width: $content-width;
  margin-top: 20px;
  max-width: $max-width;
}

.press-entry-landing {
  display: flex;
  margin: 10px 0 10px 0;
  height: 150px;
  width: calc(#{$content-width} + 36px);
  max-width: calc(#{$max-width} + 36px);
}

.press-entry-landing#first-child {
  margin-top: 20px;
}