.press-heading {
  width: $content-width;
  margin: 20px 0 20px 0;
  max-width: $max-width;
}

.press-page-entry {
  margin: 0 auto 20px auto;
  width: 338px;

  img {
    object-fit: cover;
    vertical-align: bottom;
    width: 338px;
    height: 100%;
    border-radius: $border-radius $border-radius 0 0;
    border: 1px solid $dark-blue;
    border-bottom: 0;
  }

  .info-box#press-page-title {
    border-width: 1px;
    border-radius: 0 0 $border-radius $border-radius;
    font-size: $heading-font-size;
    font-weight: 600;
    width: 302px;
  }
}

.info-box#landing-press {
  border-width: 1px 0 1px 1px;
  border-radius: $border-radius 0 0 $border-radius;
  font-size: $heading-font-size;
  font-weight: 600;
}

.info-box#landing-press-pic {
  width: 40%;
  text-align: right;
  border-width: 1px;
  border-radius: 0 $border-radius $border-radius 0;
  padding: 0;
  /*img {
    max-width: 160px;
    border-width: 1px;
    border-radius: 0 $border-radius $border-radius 0;
  }*/
}

.press-entry {
  margin: 20px auto;

  .info-box#press-entry-title {
    border-width: 1px;
    border-radius: $border-radius $border-radius 0 0;
    font-size: $heading-font-size;
    font-weight: 600;
    width: 302px;
  }

  img {
    object-fit: cover;
    vertical-align: bottom;
    width: 338px;
    height: 100%;
    border: 1px solid $dark-blue;
    border-top: 0;
    border-bottom: 0;
  }

  .info-box#press-entry-content {
    border-width: 1px;
    border-radius: 0 0 $border-radius $border-radius;
    font-size: $smaller-font-size;
    width: 302px;

    .entry-details {
      display: flex;
      justify-content: space-between;
      padding-bottom: 18px;
      p {
        margin: 0;
      }
    }
  }
}
