.success-message {
  width: $content-width;
  max-width: $max-width;
  margin: 0 0 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 65px;
    height: auto;
    margin-bottom: 28px;
  }

  p {
    text-align: center;
    margin-bottom: 16px;

    span {
      font-weight: bold;
    }

    a.contact {
      color: $dark-pink;
      font-weight: 500;
      transition: color 0.25s ease;
    }

    a.contact:hover {
      color: $dark-pink-hover;
    }
  }

  p#last-child {
    margin-bottom: 0;
  }
}

.info-box.success {
  text-align: justify;

  .error {
    width: calc(100% - 36px);
  }

  .info-box.feedback-form {
    resize: none;
    vertical-align: top;
    border-radius: $border-radius $border-radius 0 0;
    border: 1px solid $dark-blue;
    box-sizing: border-box;
    width: 100%;
  }

  textarea {
    color: $dark-blue;
    transition: box-shadow 0.25s ease;
    background-color: white;
    padding: 10px 12px;
  }

  textarea::placeholder {
    color: $light-blue;
  }

  textarea:hover {
    box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.15);
  }

  textarea:focus {
    box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.25);
  }

  .btn.send-feedback {
    border-radius: 0 0 $border-radius $border-radius;
    padding: 10px 18px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
