.btn {
  width: $content-width;
  max-width: $max-width;
  margin: 6px 0;
  background-color: $dark-blue;
  border-radius: $border-radius;
  color: $lightest-pink;
  padding: 14px 0;
  max-width: calc(#{$max-width} - 28px);
  transition: all 0.25s ease;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: all 0.25s ease;

    img.icon {
      width: 16px;
      height: auto;
      margin-right: 8px;
    }

    p {
      text-align: center;
      font-size: 20px;
    }
  }
}

.btn-link {
  width: $content-width;
  max-width: $max-width;
  margin: 6px 0;
  background-color: $dark-blue;
  border-radius: $border-radius;
  color: $lightest-pink;
  padding: 14px 0;
  transition: all 0.25s ease;

  a {
    display: flex;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.25s ease;

    img.icon {
      width: 16px;
      height: auto;
      margin-right: 8px;
    }
  }

  a:visited,
  a:link,
  a:active {
    color: $lightest-pink;
  }
}

.btn-link:hover {
  cursor: pointer;
  background-color: $blue-btn-hover;
  box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.15);

  a {
    transform: scale(1.04);
  }
}

.btn-link.inverted {
  background-color: white;
  border: 1px solid $dark-blue;

  a {
    color: $dark-blue;
    font-weight: 500;
  }

  a:visited,
  a:link,
  a:active {
    color: $dark-blue;
  }
}

.btn-link.inverted:hover {
  background-color: white;
}

.btn-link.submit {
  a {
    background-color: $yellow-btn;
  }
}

.btn:hover {
  cursor: pointer;
}

.btn-link.submit a:hover {
  background-color: $yellow-btn-hover;
}

.btn.submit {
  background-color: $dark-blue;
}

.btn.submit:hover {
  background-color: $blue-btn-hover;
  box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.15);

  .content {
    transform: scale(1.04);
  }
}

.btn.upload {
  background-color: $dark-blue;
  width: $content-width;
  padding: 8px 18px;
  text-align: center;
  font-size: $smaller-font-size;
  border-radius: $border-radius;
  max-width: $max-width;
  transition: all 0.25s ease;
  color: $lightest-pink;
}

.btn.upload:hover {
  background-color: $blue-btn-hover;
}
