.content .footer {
  width: calc(#{$content-width} - 36px);
  margin-top: 30px;
  padding: 18px 12px 20px 12px;
  max-width: $max-width;
  border: 1px solid $light-blue;
  border-width: 1px 0 0 0;

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    color: $lightest-pink;

    li {
      display: flex;
      flex-direction: row;

      img {
        width: 20px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }

      p {
        font-size: 14px;
        margin: 0 0 0 8px;
      }

      a,
      a:visited,
      a:link,
      a:active {
        color: inherit;
      }

      a,
      div.share-btn {
        display: flex;
        flex-direction: row;
        transition: transform 0.25s ease;
        align-items: center;
        background-color: $lightest-pink;
      }

      a:hover,
      div.share-btn:hover {
        cursor: pointer;
        transform: scale(1.04);
      }

      .tooltip {
        position: absolute;

        .tooltip-text {
          position: absolute;
          color: $dark-blue;
          border: 1px solid $dark-blue;
          font-size: 14px;
          width: 140px;
          text-align: center;
          word-break: keep-all;
          background-color: $light-form;
          padding: 4px 2px;
          border-radius: $border-radius;
          z-index: 2;
          left: 50%;
          margin-left: -40px;
          bottom: 16px;
          visibility: hidden;
          opacity: 1;
        }

        .tooltip-text.hide {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s linear 0.5s, opacity 0.5s ease;
        }

        .tooltip-text::after {
          content: ' ';
          position: absolute;
          top: 101%; /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: $dark-blue transparent transparent transparent;
        }
      }
    }
  }

  p {
    color: $light-blue;
    text-align: center;
    margin-top: 12px;
    font-size: 12px;
  }
}
