.title-logo {
  width: $content-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 20px 0;

  img {
    width: 130px;
    height: auto;
  }

  .title {
    font-size: 28px;
    text-align: center;
    margin-top: 16px;
    width: 85%;
    max-width: $max-width;
  }
}
