.dashboard.approve-rides {
  .table-content {
    width: 100%;

    .table-headings {
      ul {
        li {
          margin: 0;
        }

        li#col-1 {
          width: 10%;
        }

        li#col-2 {
          width: 8%;
        }

        li#col-3 {
          width: 8%;
        }

        li#col-4 {
          width: 10%;
        }

        li#col-5 {
          width: 10%;
        }

        li#col-6 {
          width: 7%;
        }

        li#col-7 {
          width: 11%;
        }

        li#col-8 {
          width: 22%;
        }

        li#col-9 {
          width: 14%;
          border-width: 0;
        }
      }
    }

    .table-entries {
      ul {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin: 14px 0;

        li {
          text-align: center;
          padding: 14px 4px;
          word-break: break-all;
        }

        li#col-1 {
          width: 10%;
        }

        li#col-2 {
          width: 8%;
        }

        li#col-3 {
          width: 8%;
        }

        li#col-4 {
          width: 10%;
        }

        li#col-4.is-duplicate {
          color: $error;
          font-weight: 500;

          .tooltip {
            position: relative;
            .tooltip-text {
              visibility: hidden;
              position: absolute;
              width: 150px;
              word-break: keep-all;
              background-color: $lightest-pink;
              border: 1px solid $dark-blue;
              color: $dark-blue;
              padding: 8px;
              border-radius: $border-radius;
              font-weight: 400;
              z-index: 2;
              left: 50%;
              margin-left: -83px;
              top: 12px;
              font-size: 16px;
            }

            .tooltip-text::after {
              content: ' ';
              position: absolute;
              bottom: 100%; /* At the top of the tooltip */
              left: 50%;
              margin-left: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: transparent transparent $dark-blue transparent;
            }
          }
        }

        li#col-4.is-duplicate:hover {
          cursor: pointer;
          .tooltip .tooltip-text {
            visibility: visible;
          }
        }

        li#col-5 {
          width: 10%;
          word-break: normal;
        }

        li#col-6 {
          width: 7%;
        }

        li#col-7 {
          width: 11%;
          word-break: normal;
        }

        li#col-8 {
          width: 22%;
          transition: transform 0.25s ease;

          .titles {
            display: flex;
            justify-content: center;
            margin: 0;

            p {
              width: 50%;
              background-color: $lightest-pink;
              border: 1px solid $dark-blue;
              text-align: center;
              padding: 4px 0;
            }

            p#last-child {
              border-width: 1px 1px 1px 0;
            }
          }

          .photo-boxes {
            display: flex;

            .photo-box {
              border: 1px solid $dark-blue;
              border-width: 0 1px 1px 1px;
              background-color: $lightest-pink;
              width: 50%;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                max-width: 130px;
                max-height: 240px;
                padding: 10px 0;
                vertical-align: middle;
              }

              img.missing {
                width: 40px;
                padding: 70px 0;
              }
            }

            .photo-box#last-child {
              border-width: 0 1px 1px 0;
            }
          }
        }

        li#col-8:hover {
          cursor: pointer;
          transform: translateY(-10px);
        }

        li#col-9 {
          width: 14%;

          .approve-btns {
            display: flex;
            justify-content: space-between;
            padding: 0 16px;

            .approve-btn {
              padding: 10px 16px;
              color: $lightest-pink;
              border: 1px solid $dark-blue;
              transition: all 0.25s ease;
            }

            .approve-btn:hover {
              cursor: pointer;
              transform: scale(1.02);
            }

            .approve-btn.accept {
              background-color: #4fb83e;
            }

            .approve-btn.accept:hover {
              background-color: #6cca5d;
            }

            .approve-btn.deny {
              background-color: #de3a62;
            }

            .approve-btn.deny:hover {
              background-color: #eb587c;
            }

            .approve-btn.unsure {
              background-color: #dab32c;
            }

            .approve-btn.unsure:hover {
              background-color: #e4c142;
            }

            .approve-btn.disabled {
              background-color: rgb(184, 184, 184);
            }

            input[type='radio'] {
              display: none;
            }

            input[type='radio'] + label:after {
              display: inline-block;
              padding: 10px 16px;
              border: 1px solid $dark-blue;
              background-color: $light-form;
              color: $lightest-pink;
              transition: all 0.25s ease;
              background-color: rgb(184, 184, 184);
            }

            input[type='radio'].accept + label:after {
              content: 'Y';
            }

            input[type='radio'].deny + label:after {
              content: 'N';
            }

            input[type='radio'].unsure + label:after {
              content: '?';
            }

            input[type='radio']:hover + label:after {
              cursor: pointer;
            }

            input[type='radio'].accept:hover + label:after {
              background-color: #4fb83e;
            }

            input[type='radio'].deny:hover + label:after {
              background-color: #de3a62;
            }

            input[type='radio'].unsure:hover + label:after {
              background-color: #dab32c;
            }

            input[type='radio']:checked + label:after {
              transform: translateY(-10px);
            }

            input[type='radio'].accept:checked + label:after {
              background-color: #6cca5d;
            }

            input[type='radio'].deny:checked + label:after {
              background-color: #eb587c;
            }

            input[type='radio'].unsure:checked + label:after {
              background-color: #e4c142;
            }
          }

          .notes {
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            height: 100%;

            p {
              width: 100%;
              text-align: left;
              height: 10%;
              padding: 20px 0 10px 0;
            }

            textarea {
              resize: none;
              height: 100%;
              background-color: $lightest-pink;
              border: 1px solid $dark-blue;
              margin-bottom: 41px;
              color: $dark-blue;
              padding: 6px 8px;
            }

            textarea::placeholder {
              color: $light-blue;
            }
          }
        }
      }
    }
    .table-footer {
      .nav {
        width: 84%;
      }

      .cancel-btn {
        background-color: $dark-blue;
        color: $lightest-pink;
        padding: 14px 20px;
        border-radius: 0 0 0 $border-radius;
        transition: background-color 0.25s ease;
        text-align: center;
        width: 8%;
      }

      .cancel-btn:hover {
        background-color: $blue-btn-hover;
        cursor: pointer;
      }

      .save-changes-btn {
        background-color: $dark-pink;
        color: $lightest-pink;
        padding: 14px 20px;
        border-radius: 0 0 $border-radius 0;
        transition: background-color 0.25s ease;
        text-align: center;
        width: 8%;
      }

      .save-changes-btn:hover {
        background-color: $dark-pink-hover;
        cursor: pointer;
      }
    }
  }
}
