.content.login {
  height: 100%;
  display: flex;
  justify-content: center;

  .titles {
    margin-bottom: 14px;
  }

  .request-form.login {
    max-width: 300px;
  }

  .btn.login {
    background-color: $dark-blue;
    width: calc(#{$content-width} - 8px);
    max-width: 266px;
    padding: 8px 18px;
    text-align: center;
    font-size: $heading-font-size;
    border-radius: $border-radius;
    transition: all 0.25s ease;
    color: $lightest-pink;
    margin: 8px 0 80px 0;
  }

  .btn.login:hover {
    background-color: $blue-btn-hover;
  }
}
