.react-container.view-entry {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.15);

  .view-entry-window {
    top: 70px;
    width: 50%;
    min-width: 850px;
    background-color: $light-form;
    border: 1px solid $dark-blue;
    border-radius: $border-radius;
    position: absolute;
    margin: auto;

    .header {
      display: flex;
      justify-content: space-between;
      background-color: $light-blue;
      border-radius: $border-radius $border-radius 0 0;
      border: 1px solid $dark-blue;
      border-width: 0 0 1px 0;
      color: $lightest-pink;

      .title {
        display: flex;
        align-items: center;

        .back-btn {
          background-color: $dark-blue;
          padding: 16px 16px;
          margin-right: 16px;
          border-radius: $border-radius 0 0 0;
          transition: background-color 0.25s ease;

          img.nav-arrow {
            transform: rotate(180deg);
            transition: transform 0.25s ease;
          }
        }

        .back-btn:hover {
          cursor: pointer;
          background-color: $blue-btn-hover;

          img.nav-arrow {
            transform: scale(1.15) rotate(180deg);
          }
        }
      }

      .save-changes-btn {
        padding: 16px 24px;
        background-color: $dark-pink;
        border-radius: 0 $border-radius 0 0;
        border: 1px solid $dark-blue;
        border-width: 0 0 0 1px;
        transition: background-color 0.25s ease;
      }

      .save-changes-btn:hover {
        cursor: pointer;
        background-color: $dark-pink-hover;
      }
    }

    .entry-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .error {
        width: calc(91.5% - 8px);
        max-width: calc(91.5% - 8px);
        margin: 12px 0 0 0;
      }

      textarea.notes {
        background-color: $lightest-pink;
        width: 91.5%;
        padding: 8px 12px;
        margin-bottom: 22px;
        background-color: $lightest-pink;
        color: $dark-blue;
        border: 1px solid $dark-blue;
        resize: none;
        transition: all 0.25s ease;
      }

      textarea.notes::placeholder {
        color: $light-blue;
      }

      textarea.notes:hover {
        box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.15);
      }

      textarea.notes:focus {
        box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.25);
      }

      textarea.notes.invalid {
        border-color: $error;
        color: $error;
      }
    }

    .entry-content-columns {
      width: 94%;
      display: flex;
      padding: 12px 22px;
      justify-content: space-between;

      ul {
        width: 48%;
        padding-left: 0;
      }

      ul#first-child {
        padding-right: 11px;
      }

      ul#last-child {
        padding-left: 11px;
      }

      li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
      }

      li div.description {
        margin-right: 6px;
      }

      li div.value {
        padding: 4px 12px;
        width: 62%;
        border: 1px solid $dark-blue;
      }

      li div.value:hover {
        cursor: default;
      }

      li input.value {
        width: 62%;
        padding: 4px 12px;
        background-color: $lightest-pink;
        border: 1px solid $dark-blue;
        color: $dark-blue;
        transition: box-shadow 0.25s ease;
      }

      li input.value::placeholder {
        color: $light-blue;
      }

      li select {
        width: 68%;
        padding: 4px 12px;
        background-color: $lightest-pink;
        border: 1px solid $dark-blue;
        color: $dark-blue;
        transition: box-shadow 0.25s ease;
      }

      li select.status-dropdown {
        font-weight: bold;
      }

      li input.value:hover,
      li select:hover {
        box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.15);
      }

      li input.value:focus,
      li select:focus {
        box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.25);
      }

      li.photo-comparison {
        flex-direction: column;
        padding-top: 6px;

        .photo-container {
          display: flex;
          background-color: $lightest-pink;
          margin-top: 6px;
          height: 156px;

          .photo-box {
            border: 1px solid $dark-blue;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
              border: 1px solid $dark-blue;
              border-width: 0 0 1px 0;
              padding: 4px 0;
              width: 100%;
              text-align: center;
            }

            img {
              max-width: 100px;
              max-height: 114px;
              padding: 6px;
            }

            img.missing-photo {
              width: 40px;
              margin: auto;
            }
          }

          .photo-box#photo-id {
            border-left-width: 0;
          }
        }
      }
    }

    // Styling for ViewFeedback component

    .feedback-text {
      min-height: 180px;
      max-height: 180px;
      width: 91%;
      border: 1px solid $dark-blue;
      border-radius: $border-radius;
      padding: 10px 14px;
      margin: 6px 0 22px 0;
      overflow-y: auto;
    }

    .feedback-text::-webkit-scrollbar {
      width: 14px;
      background-color: $lightest-pink;
      border-radius: 0 $border-radius $border-radius 0;
      border: 1px solid $dark-blue;
      border-width: 0 0 0 1px;
    }

    .feedback-text::-webkit-scrollbar-thumb {
      background-color: $light-blue;
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  // Approval window styling
  .view-entry-window.approve-window,
  .view-entry-window.send-codes,
  .view-entry-window.done {
    width: 25%;
    min-width: 400px;

    .entry-content {
      padding: 22px 0;
      display: flex;
      justify-content: center;

      .success-msg {
        width: calc(90% - 36px);
      }

      p {
        width: 90%;
        text-align: justify;
      }

      .approve-input {
        display: flex;
        width: 90%;
        margin: 10px 0;

        input {
          width: 65%;
          padding: 8px 12px;
          border: 1px solid $dark-blue;
          background-color: $lightest-pink;
          color: $dark-blue;
        }

        input::placeholder {
          color: $light-blue;
        }

        .approve-btn {
          width: 35%;
          text-align: center;
          padding: 8px 0;
          background-color: $dark-pink;
          color: $lightest-pink;
          border: 1px solid $dark-blue;
          border-width: 1px 1px 1px 0;
          transition: background-color 0.25s ease;
        }

        .approve-btn:hover {
          cursor: pointer;
          background-color: $dark-pink-hover;
        }
      }

      .photo-container {
        background-color: $lightest-pink;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 20px 0 6px;

        .titles {
          display: flex;
          margin: 0;

          p {
            border: 1px solid $dark-blue;
            border-width: 1px 1px 0 1px;
            text-align: center;
            padding: 4px 0;
          }
        }

        .titles p:last-child {
          border-width: 1px 1px 0 0;
        }

        .photo-boxes {
          display: flex;

          .photo-box {
            border: 1px solid $dark-blue;
            width: 50%;
            text-align: center;

            img {
              width: 30px;
              padding: 60px 0;
              vertical-align: middle;
            }
          }

          .photo-box#last-child {
            border-width: 1px 1px 1px 0;
          }
        }
      }

      div.error {
        margin: 0 0 12px 0;
        width: 82%;
      }
    }
  }

  .view-entry-window.send-codes {
    .entry-content {
      p {
        margin-bottom: 12px;
      }

      p strong {
        font-weight: 500;
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;

        .options {
          width: 80%;

          .use-date-check {
            margin-bottom: 8px;

            label {
              margin-left: 8px;
            }
          }

          .date {
            .picker {
              display: flex;
              justify-content: space-between;
              margin-bottom: 6px;
              align-items: center;

              input {
                margin-right: 22px;
                color: $dark-blue;
                background-color: $lightest-pink;
                padding: 2px 4px;
                border: 1px solid $dark-blue;
              }

              input:disabled {
                background-color: rgb(223, 223, 223);
                color: rgb(139, 139, 139);
                border-color: rgb(93, 93, 93);
              }
            }
          }
        }

        .download-btn {
          width: 20%;
          background-color: $dark-pink;
          color: $lightest-pink;
          padding: 26px 16px;
          border-radius: $border-radius;
          border: 1px solid $dark-blue;
          text-align: center;
          transition: all 0.25s ease;
        }

        .download-btn:hover {
          cursor: pointer;
          background-color: $dark-pink-hover;
          box-shadow: 0px 0px 5px 1px rgba(59, 59, 150, 0.15);
        }
      }
    }
  }

  .view-entry-window.done {
    .entry-content {
      p {
        margin-bottom: 20px;
      }

      p strong {
        font-weight: 500;
      }

      .upload {
        display: flex;
        align-items: center;
        width: 90%;
        margin-bottom: 20px;

        input.input-file {
          display: none;
        }

        input.upload-location {
          width: 70%;
          background-color: $lightest-pink;
          padding: 12px 18px;
          border-radius: $border-radius 0 0 $border-radius;
          border: 1px solid $dark-blue;
          border-width: 1px 0 1px 1px;
          color: $light-blue;
        }

        .input-file + label {
          display: inline-block;
          text-align: center;
          border-radius: 0 $border-radius $border-radius 0;
          padding: 12px 4px;
          font-size: 18px;
          background-color: $dark-blue;
          color: $lightest-pink;
          width: 30%;
          border: 1px solid $dark-blue;
          border-width: 1px 1px 1px 0;
          transition: background-color 0.25s ease;
        }

        .input-file + label:hover {
          cursor: pointer;
          background-color: $blue-btn-hover;
        }
      }

      .submit-btn {
        background-color: $dark-pink;
        color: $lightest-pink;
        padding: 16px 22px;
        border-radius: $border-radius;
        border: 1px solid $dark-blue;
        transition: background-color 0.25s ease;
      }

      .submit-btn:hover {
        cursor: pointer;
        background-color: $dark-pink-hover;
      }
    }
  }

  .view-entry-window.verification {
    min-width: 1200px;
    z-index: 100; // needed because of transform on li#col-8

    .header .title p span {
      font-weight: 500;
    }

    .photo-boxes {
      display: flex;
      background-color: $lightest-pink;
      border: 1px solid $dark-blue;
      margin: 12px;
      border-radius: $border-radius;

      .photo-box {
        padding: 20px;
        display: flex;
        align-items: center;

        img {
          max-width: 500px;
          max-height: 600px;
        }

        img.missing {
          width: 40px;
          padding: 200px;
        }
      }

      .photo-box#selfie {
        border: 1px solid $dark-blue;
        border-width: 0 1px 0 0;
      }
    }
  }
}
