@charset "UTF-8";
/* Colors */
/* Other variables */
/* Global reset */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  text-decoration: none; }

/* Font imports */
@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300; }

/* Imports */
.logo {
  margin: 0 auto; }
  .logo img {
    height: auto;
    width: 120px;
    padding: 24px 0; }

.info-box-title {
  width: 75%;
  background-color: #9696db;
  padding: 8px 18px;
  border-radius: 12px 12px 0 0;
  border: 1px solid #3b3b96;
  font-size: 22px;
  margin-top: 20px;
  max-width: 600px; }
  .info-box-title h3 {
    color: #f7f5fe;
    font-size: 20px; }

.info-box {
  width: 75%;
  background-color: #fefff3;
  padding: 18px;
  border: 1px solid #3b3b96;
  border-radius: 12px;
  max-width: 600px; }
  .info-box p {
    margin-top: 12px;
    text-align: justify; }
  .info-box p:first-child {
    margin-top: 0; }
  .info-box ul {
    margin-top: 12px; }
    .info-box ul li {
      margin-bottom: 4px; }
    .info-box ul li:last-child {
      margin-bottom: 0; }
  .info-box ol {
    padding-left: 18px;
    text-align: justify; }
    .info-box ol li {
      margin-bottom: 4px; }
    .info-box ol li:last-child {
      margin-bottom: 0; }

.info-box#child-2,
.info-box#child-3 {
  border-radius: 0 0 12px 12px;
  border-top-width: 0; }

.submit-btn#landing-page {
  margin: 20px 0 30px 0; }

.titles {
  text-align: center;
  margin-top: 20px; }
  .titles h2 {
    font-size: 34px; }
  .titles h3 {
    font-size: 22px; }

.request-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 20px; }
  .request-form h3 {
    font-size: 20px;
    margin: 14px 0 12px 0; }
  .request-form input {
    background-color: #fefff3;
    padding: 8px 18px;
    border-radius: 12px;
    border: 1px solid #3b3b96;
    color: #3b3b96;
    margin: 6px 0; }
  .request-form input::placeholder {
    color: #9696db; }
  .request-form .radio-check,
  .request-form .check {
    background-color: #fefff3;
    color: #3b3b96;
    border: 1px solid #3b3b96;
    padding: 12px 18px;
    border-radius: 12px; }
  .request-form .radio-check .check-item {
    margin-bottom: 4px; }
  .request-form .radio-check .check-item.last-child {
    margin-bottom: 0; }
  .request-form .radio-check input[type='radio'] {
    display: none; }
  .request-form .radio-check input[type='radio'] + label:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #3b3b96;
    background-color: #fefff3;
    border-radius: 50%;
    margin-right: 8px; }
  .request-form .radio-check input[type='radio']:hover + label:before {
    cursor: pointer; }
  .request-form .radio-check input[type='radio'] + label:hover {
    cursor: pointer; }
  .request-form .radio-check input[type='radio']:checked + label:before {
    background-color: #9696db; }
  .request-form .check input[type='checkbox'] {
    display: none; }
  .request-form .check input[type='checkbox'] + label:before {
    content: '\00a0✓\00a0';
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    padding: 0 1px;
    color: #fefff3;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #3b3b96;
    background-color: #fefff3;
    margin-right: 8px;
    vertical-align: middle;
    margin-bottom: 3px; }
  .request-form .check input[type='checkbox']:hover + label:before {
    cursor: pointer; }
  .request-form .check input[type='checkbox'] + label:hover {
    cursor: pointer; }
  .request-form .check input[type='checkbox']:checked + label:before {
    background-color: #9696db;
    color: #fefff3; }
  .request-form .btn.upload {
    width: 100%;
    padding: 12px 0;
    font-size: 18px; }

/* Styling */
body {
  background-color: #f7f5fe;
  font-family: 'Roboto Condensed', 'sans-serif';
  font-size: 16px;
  color: #3b3b96; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content a {
    width: inherit; }

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 8px 18px;
  text-align: center;
  font-size: 22px;
  border-radius: 12px;
  max-width: 600px;
  transition: all 0.25s ease; }

.btn.link {
  width: 100%;
  display: flex;
  justify-content: center; }
  .btn.link a {
    width: 75%;
    padding: 8px 18px;
    text-align: center;
    font-size: 22px;
    border-radius: 12px;
    max-width: 600px;
    transition: all 0.25s ease; }

.btn.link.submit a {
  background-color: #f9dc7c; }

.btn:hover {
  cursor: pointer; }

.btn.link.submit a:hover {
  background-color: #fae399; }

.btn.submit {
  background-color: #f9dc7c; }

.btn.submit:hover {
  background-color: #fae399; }

.btn.upload {
  background-color: #3b3b96;
  width: 75%;
  padding: 8px 18px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  max-width: 600px;
  transition: all 0.25s ease;
  color: #f7f5fe; }

.btn.upload:hover {
  background-color: #5c5cb3; }
