.logo {
  margin: 0 auto;

  img {
    height: auto;
    width: 120px;
    padding: 24px 0;
  }
}

.info-box-title {
  width: 75%;
  background-color: $light-blue;
  padding: 8px 18px;
  border-radius: $border-radius $border-radius 0 0;
  border: 1px solid $dark-blue;
  font-size: 22px;
  margin-top: 20px;
  max-width: $max-width;

  h3 {
    color: $lightest-pink;
    font-size: 20px;
  }
}

.info-box {
  width: 75%;
  background-color: $light-form;
  padding: 18px;
  border: 1px solid $dark-blue;
  border-radius: $border-radius;
  max-width: $max-width;

  p {
    margin-top: 12px;
    text-align: justify;
  }

  p:first-child {
    margin-top: 0;
  }

  ul {
    margin-top: 12px;

    li {
      margin-bottom: 4px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  ol {
    padding-left: 18px;
    text-align: justify;

    li {
      margin-bottom: 4px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.info-box#child-2,
.info-box#child-3 {
  border-radius: 0 0 $border-radius $border-radius;
  border-top-width: 0;
}

.submit-btn#landing-page {
  margin: 20px 0 30px 0;
}
