.titles {
  text-align: center;
  margin-top: 20px;
  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: $heading-font-size;
  }
}

.request-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 20px;
  max-width: $max-width;

  h3 {
    font-size: 20px;
    margin: 14px 0 12px 0;
  }

  input {
    background-color: $light-form;
    padding: 8px 18px;
    border-radius: $border-radius;
    border: 1px solid $dark-blue;
    color: $dark-blue;
    margin: 6px 0;
  }

  input::placeholder {
    color: $light-blue;
  }

  .radio-check,
  .check {
    background-color: $light-form;
    color: $dark-blue;
    border: 1px solid $dark-blue;
    padding: 12px 18px;
    border-radius: $border-radius;
  }

  .radio-check {
    .check-item {
      margin-bottom: 4px;

      label.other-input input {
        width: 80%;
      }
    }

    .check-item.last-child {
      margin-bottom: 0;
    }

    input[type='radio'] {
      display: none;
    }

    input[type='radio'] + label:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 2px solid $dark-blue;
      background-color: $light-form;
      border-radius: 50%;
      margin-right: 8px;
    }

    input[type='radio']:hover + label:before {
      cursor: pointer;
    }

    input[type='radio'] + label:hover {
      cursor: pointer;
    }

    input[type='radio']:checked + label:before {
      background-color: $light-blue;
    }
  }

  .check {
    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox'] + label:before {
      content: '\00a0✓\00a0';
      text-align: center;
      font-weight: bold;
      font-size: 10px;
      padding: 0 1px;
      color: $light-form;
      font-weight: bold;
      display: inline-block;
      border: 2px solid $dark-blue;
      background-color: $light-form;
      margin-right: 8px;
      vertical-align: middle;
      margin-bottom: 3px;
    }

    input[type='checkbox']:hover + label:before {
      cursor: pointer;
    }

    input[type='checkbox'] + label:hover {
      cursor: pointer;
    }

    input[type='checkbox']:checked + label:before {
      background-color: $light-blue;
      color: $light-form;
    }
  }

  .btn.upload {
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
  }
}
