/*  
* Colours
*/

$dark-blue: #3b3b96;
$lightest-pink: #f7f5fe;
$light-form: #fefff3;
$yellow-btn: #f9dc7c;
$dark-pink: #dc87cb;
$dark-pink-hover: #e99fdc;
$light-blue: #9696db;
$yellow-btn-hover: #fae399;
$blue-btn-hover: #5c5cb3;
$error: #e93a3a;
$error-shadow: rgba(233, 58, 58, 0.15);

/*  
* Other variables
*/

$border-radius: 12px;
$max-width: 600px;
$content-width: 75%;
$smaller-font-size: 18px; // originally 16px
$heading-font-size: 24px; // originally 22px

/*  
* Global Reset
*/

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  text-decoration: none;
}

/*  
* Font Imports
*/

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
}

/*  
* Imports
*/

// General
@import './general/_navbar.scss';
@import './general/_footer.scss';
@import './general/_btns.scss';
@import './general/_logo.scss';

// Front facing content
@import './front-facing/_landingPage';
@import './front-facing/_howToPage';
@import './front-facing/_requestRide';
@import './front-facing/_press';
@import './front-facing/_loading';
@import './front-facing/_success';

// Dashboard
@import './dashboard/_login';
@import './dashboard/_dashboardNav';
@import './dashboard/_dashboard';
@import './dashboard/_overlayWindow';
@import './dashboard/_feedback';
@import './dashboard/_approveRides';

/*  
* Styling
*/

body {
  background-color: $lightest-pink;
  font-family: 'Roboto Condensed', 'sans-serif';
  font-size: $smaller-font-size;
  color: $dark-blue;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  a,
  a:visited,
  a:link,
  a:active {
    color: inherit;
  }

  h1 {
    font-size: $heading-font-size;
    font-weight: 500;
  }

  p {
    font-size: $smaller-font-size;
    font-weight: 400;
  }
}

html,
body,
#root,
.container,
.react-container {
  height: 100%;
}

.info-box {
  width: $content-width;
  background-color: $light-form;
  padding: 18px;
  border: 1px solid $dark-blue;
  border-radius: 0 0 $border-radius $border-radius;
  border-top-width: 0;
  max-width: $max-width;

  p {
    margin-top: 12px;
    text-align: justify;
  }

  span {
    font-weight: bold;
  }

  a {
    color: inherit;
    font-weight: bold;
    transition: color 0.25s ease;
  }

  a:hover {
    color: $blue-btn-hover;
    cursor: pointer;
  }

  a:visited {
    color: inherit;
  }

  p:first-child {
    margin-top: 0;
  }

  ul {
    margin-top: 12px;

    li {
      margin-bottom: 4px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  ol {
    padding-left: 18px;
    text-align: left;

    li {
      margin-bottom: 4px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.info-box-heading {
  width: $content-width;
  max-width: $max-width;
  margin: 18px 0 16px 0;
}

.info-box-title {
  width: $content-width;
  background-color: $light-blue;
  padding: 8px 18px;
  border-radius: $border-radius $border-radius 0 0;
  border: 1px solid $dark-blue;
  margin-top: 20px;
  max-width: $max-width;

  h3 {
    color: $lightest-pink;
    font-size: 20px;
  }
}

.info-box#no-title {
  border-width: 1px;
  border-radius: $border-radius;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  transition: all 0.25s ease;
}

.arrow.right {
  border-left: 7px solid $dark-blue;
}

.arrow.left {
  border-right: 7px solid $dark-blue;
}

.arrow.right:hover {
  border-left-color: $blue-btn-hover;
  transform: scale(1.2);
  cursor: pointer;
}

.arrow.left:hover {
  border-right-color: $blue-btn-hover;
  transform: scale(1.2);
  cursor: pointer;
}

.arrow.right.disabled {
  border-left-color: $light-blue;
}

.arrow.left.disabled {
  border-right-color: $light-blue;
}

.arrow.right.disabled:hover {
  cursor: default;
  transform: scale(1);
  border-left-color: $light-blue;
}

.arrow.left.disabled:hover {
  cursor: default;
  transform: scale(1);
  border-right-color: $light-blue;
}

div.line-break {
  width: $content-width;
  padding: 0 18px;
  max-width: $max-width;
  background-color: $light-blue;
  height: 1px;
  margin: 10px 0;
}
